doctype html
html
  head
    meta(charset="utf-8")
    title cal
  body
    input#number1(type='text' placeholder='Nhap so a')
    input#number2(type='text' placeholder='Nhap so b')
    button#cong +
    button#tru -
    button#nhan *
    button#chia / 
    <br>
    label(for='kq') Ket qua:
    output#kq
    script(type="text/javascript" src="script.js")
