doctype html
html
  head
      meta(charset="utf-8")
      title Chuyển chữ có dấu thành không dấu
  body
    #text-container
      input#text(type="text" placeholder="Nhập văn bản vào đây")
    #output-container
      ouput#output
    script(type="text/javascript" src="script.js")
