doctype html
html
  head
      meta(charset="utf-8")
      title Chuyển chữ có dấu thành không dấu
  body
    input#text(type="text" placeholder="Nhập văn bản vào đây" value="Khải bị điên cmnr")
    <br>
    <br>
    label#kq(for = "result") Kq:
    ouput#output
    script(type="text/javascript" src="script.js")
