body
  font-family 'Roboto', 'Product Sans', 'Segoe UI', 'Verdana', 'Geneva', 'Arial', 'Helvetica', sans-serif

a
  text-decoration underline
  cursor pointer
  color blue
  &:hover
    color red
  &:active
    color orange

:not(b):not(.bold)
  font-weight normal

:not(i):not(.italic)
  font-style normal

:not(u):not(.underline):not(a)
  text-decoration none

#control-panel
  *
    display inline-block
  & > :not(:first-child)
    margin-left 5px
  & > :not(:last-child)
    margin-right 5px

#list
  margin 0px
  padding 0px
  &, & li
    display block
    width 100%
  li
    &:hover
      background rgba(0, 0, 0, 0.25)
    *
      display inline-block
    .text
      font-family 'Ubuntu Mono', 'consolas', 'Lucida Console', 'Courier New', monospace
    .delete
      position absolute
      right 10px
