body
  font-family 'Roboto', 'Product Sans', 'Segoe UI', 'Verdana', 'Geneva', 'Arial', 'Helvetica', sans-serif

#list
  &, & li
    display block
    width 100%
  li
    *
      display inline-block
    .delete
      position absolute
      right 10px
