extends ../../lib/layout.pug

block everything
  html
    head
      meta(charset = 'utf-8')
      title List with Checkboxes
      +style('style/main.css')
    body
      header#main-header: h1 List with Checkboxes
      main#main
        #list-container: ul#list
        #control-panel
          #checkbox-control-container
            button#select-all Select All
            button#unselect-all Unselect All
            button#inverse-all Inverse All
          #item-clear-container
            button#clear-selected Clear Selected Items
            button#clear-all Clear All
          #item-create-container
            input#list-item-count(type = 'number' value = '15' placeholder = 'Item Count')
            button#add-list-item Create
      footer#main-footer
      script(type = 'text/javascript' src = 'script/main.js' async)
