extends ../../lib/layout.pug

block everything
  html
    head
      meta(charset = 'utf-8')
      title List with Checkboxes
      +style('style/main.css')

    body
      header#main-header: h1 List with Checkboxes

      main#main
        #list-container: ul#list

        #control-panel
          #checkbox-control-container
            button#select-all Select All
            button#unselect-all Unselect All
            button#invert-all Invert All
            button#random-select Random Select
          #item-clear-container
            button#clear-selected Clear Selected Items
            button#clear-all Clear All
          #item-create-container
            input#list-item-count(type = 'number' value = '15' placeholder = 'Item Count')
            button#add-list-item Create

      footer#main-footer
        hr

        .copyright: :md(breaks)
          Copyright (c) 2017 Hoàng Văn Khải
          All right reserved

          This software comes with absolutely no warranty
          See the [MIT License](LICENSE.html) for more details

          Source code is available at
          [GitHub/KSXGitHub/personal-homeworks](https://github.com/KSXGitHub/personal-homeworks)
      script(type = 'text/javascript' src = 'script/main.js' async)
