- const {readFileSync} = require('fs')
- const {join} = require('path')
- const license = readFileSync(join(projdir, 'LICENSE.md'), {encoding: 'utf8'})
- const capitalize = getlib('capitalize')

mixin style(href)
  link(rel = 'stylesheet' type = 'text/css' href = href)&attributes(attributes)

mixin num-input(id)
  input(id = id name = id type = 'text' placeholder = 'Insert number here...')

mixin calc-button(name)
  button(id = 'calc-' + name + '-button' type = 'button')= capitalize(name)
