doctype html
html
  head
    meta(charset = 'utf-8')
    title Bộ chuyển đổi Tiếng Việt có dấu thành không dấu
    link(rel = 'stylesheet' type = 'text/css' href = 'style/master.css')
  body
    #input-container
      textarea#input(placeholder = 'Văn bản Tiếng Việt có dấu' cols = 25 rows = 5)
    #output-container
      label(for = 'output')
      output#output
    script(type = 'text/javascript' src = 'script/main.js')
