doctype html
html
  head
    meta(charset="utf-8")
    title cal
  body
    input#number1(type='text' placeholder='Nhap so a')
    input#number2(type='text' placeholder='Nhap so b')
    button#cong +
    button#tru -
    button#nhan *
    button#chia / 
    <br>
    label(for='kq') Ket qua:
    output#kq
      p Tùy chọn:
      select#select
        option(value="1") Tất cả
        option(value="2") Tên
        option(value="3") Thể loại
        option(value="4") Mô tả
      ||| 
    script(type="text/javascript" src="script.js")
