body
  margin 0px
  padding 0px

*
  font-family 'Roboto', 'Product Sans', 'Segoe UI', 'Vernada', 'Helvatica', 'Arial', sans-serif
  font-weight normal

table
  thead th
    border-bottom 1px solid black

  .key
    width 10%

  .name
    width 15%

  .genre
    width 15%

  .description
    width 60%
