extends ../lib/layout.pug

block everything
  html
    head
      meta(charset = 'utf-8')
      title Simple Calculus
      +style('style/main.css')

    body
      form#main-form
        #input-container
          +num-input('operand-left')
          +num-input('operand-right')
        #button-container
          +calc-button('add')
          +calc-button('subtract')
          +calc-button('multiply')
          +calc-button('divide')
        #output-container
          output#output

      footer#main-footer
        hr

        :md(breaks)
          Copyright (c) 2017 Hoàng Văn Khải
          All right reserved

          This software comes with absolutely no warranty
          See the [MIT License](https://github.com/KSXGitHub/add-sub-mul-div/blob/master/LICENSE.md) for more details

      script(type = 'text/javascript' src = 'script/main.js')
