extends ../../lib/layout.pug

block everything
  html
    head
      meta(charset = 'utf-8')
      title Use JavaScript to add and remove HTML elements
    body
      script(type = 'text/javascript' src = 'script/main.js' async)
